🧪 Exercício Dica 1: Imprimir números de 1 a 10
Enunciado:
Use um laço for com range para imprimir os números de 1 a 10, um por linha.

🧠 Explicação:
range(1, 11) → começa no 1 e vai até 10 (porque o 11 é exclusivo).

print(i) → imprime cada número da sequência.

In [37]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

REMACK 14/04/2025

In [38]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

**1. Crie uma lista chamada `numeros` com 5 posições, inicializada com o valor 0 em todas. Em seguida, imprima o conteúdo da lista.**

In [39]:
numeros = [0] * 5
print("b) Tamanho do array:", len(numeros))

b) Tamanho do array: 5

REMACK 14/04/2025

In [40]:
numeros = [0] * 5
print(f'b) tamanho do array: {len(numeros)}')

b) tamanho do array: 5

**2. Crie uma lista chamada `pares` com os números pares de 2 até 20, usando um loop. Em seguida, imprima a lista.**

In [29]:
pares = []
for i in range(0,21,2):
    pares.append(i) 


for i in pares: 
    print(i)

0
2
4
6
8
10
12
14
16
18
20

REMACK 14/04/2025

In [42]:
pares = []
for i in range(0,10,2):
    pares.append(i)

for i in pares:
    print(i)

0
2
4
6
8

**3. Dada a lista `notas = [6.5, 7.0, 8.2, 5.5, 9.0]`, calcule e imprima a média das notas.**

In [30]:
notas = [6.5, 7.0, 8.2, 5.5, 9.0]
quantidade_total_elementos = 0
soma_das_notas = 0
media = 0

for valor in notas:
    quantidade_total_elementos+=1
    soma_das_notas+=valor
    #print(valor)

media = soma_das_notas/quantidade_total_elementos
 
print("total de elementos:", quantidade_total_elementos)
print("soma das notas:", soma_das_notas)
print("media:", media)

total de elementos: 5
soma das notas: 36.2
media: 7.24

REMACK 14/04/2025

In [45]:
notas = [6.5,7.0,8.2,5.5,9.0]
quantidade_total_elementos = 0
soma_das_notas = 0
media = 0

for valor in notas:
        quantidade_total_elementos+=1
        soma_das_notas+=valor

media = soma_das_notas/quantidade_total_elementos

print(f'total de elementos:', quantidade_total_elementos)
print(f'soma das notas:', soma_das_notas)
print(f'media:', media)

total de elementos: 5
soma das notas: 36.2
media: 7.24

**4. Crie uma lista `nomes` com 3 nomes. Depois, peça ao usuário para digitar um novo nome e substitua o primeiro nome da lista pelo nome digitado. Imprima a lista atualizada.**

In [31]:
nomes = ["wendel","igor","iago","yasmin"]
print("Lista Base")
for valor in nomes:
    print(valor)

print("------------------")

novo_nome = input("Digite um novo nome: ")
nomes[0] = novo_nome
 
print("Lista atualizada")
for valor in nomes:
    print(valor)

Lista Base
wendel
igor
iago
yasmin
------------------
Lista atualizada

igor
iago
yasmin

REMACK 14/04/2025

In [46]:
nomes = ["wendel","igor","iago","yasmin"]
print("Lista Base")
for valor in nomes:
    print(valor)

print("-----------------")

novo_nome = input("Digite um novo nome: ")
nomes[0] = novo_nome

print("Lista atualizada")
for valor in nomes:
    print(valor)

Lista Base
wendel
igor
iago
yasmin
-----------------
Lista atualizada

igor
iago
yasmin

**5. Dada a lista `idades = [12, 17, 19, 23, 30]`, use um loop para contar quantas pessoas têm 18 anos ou mais.**

In [32]:
idades = [12, 17, 19, 23, 30]
quatidade_pessoas_maior_idade = 0

for valor_idade  in idades:
    if valor_idade >= 18:
        quatidade_pessoas_maior_idade +=1
    
print("quantidade de pessoas com maior ou igual 18 anos:", quatidade_pessoas_maior_idade)

quantidade de pessoas com maior ou igual 18 anos: 3

REMACK 14/04/2025

In [47]:
idades = [12, 17, 19, 23, 30]
quatidade_pessoas_maior_idade = 0

for valor_idade in idades:
    if valor_idade >= 18:
        quatidade_pessoas_maior_idade +=1

print(f'quantidade de pessoas com maior ou igual 18 anos:', quatidade_pessoas_maior_idade)

quantidade de pessoas com maior ou igual 18 anos: 3

REMACK 14/04/2025

In [48]:
idade = [12, 17, 19, 23, 30]
quatidade_pessoas_maior_idade = 0

for valor_idade in idades:
    if valor_idade >= 18:
        quatidade_pessoas_maior_idade +=1

print(f'quantidade de pessoas com maior ou igual 18 anos:', quatidade_pessoas_maior_idade)

quantidade de pessoas com maior ou igual 18 anos: 3

**6. Crie uma lista `valores` com 10 elementos numéricos definidos manualmente. Em seguida, encontre e imprima o maior e o menor valor da lista.**

In [33]:
valores = [2,6,3,4,9,1,20,35,100,82,41,7,15]
maior = 0

for valor_de_valores in valores:
    if(valor_de_valores > maior):
        maior = valor_de_valores 

print("Maior é :", maior)

Maior é : 100

REMACK 14/04/2025

In [49]:
valores = [2,6,3,4,9,1,20,35,100,82,41,7,15]
maior = 0

for valor_de_valores in valores:
    if(valor_de_valores > maior):
        maior = valor_de_valores

print(f'Maior é :', maior)

Maior é : 100

**7. Crie uma lista bidimensional `matriz` com os valores `[[1, 2], [3, 4]]`. Depois, altere o valor da posição [1][0] para 99 e imprima a matriz.**

In [34]:
matriz = [[1,2],[3,4]]

matriz[1][0]=99

print(matriz)

[[1, 2], [99, 4]]

REMACK 14/04/2025

In [51]:
matriz = [[1,2],[3,4]]

matriz[1][0]=99

print(matriz)

[[1, 2], [99, 4]]

**8. Dada a lista `temperaturas = [30, 32, 29, 28, 31, 35, 33]`, calcule e imprima a variação (diferença entre maior e menor temperatura).**

In [35]:
temperaturas = [30,32,29,28,31,35,33]
tempMax = max(temperaturas)
temMin = min(temperaturas)
variacao = max(temperaturas) - min(temperaturas)

print("Temperatura máxima:",tempMax )
print("Temperatura mínima:",temMin )
print("Variação: ",variacao )

Temperatura máxima: 35
Temperatura mínima: 28
Variação:  7

REMACK 14/04/2025

In [52]:
temperaturas = [30,32,29,28,31,35,33]
tempMax = max(temperaturas)
temMin = min(temperaturas)
variacao = max(temperaturas) - min(temperaturas)

print(f'Temperatura máxima: {tempMax}')
print(f'Temperatura mínima: {temMin}')
print(f'Variação: {variacao}')

Temperatura máxima: 35
Temperatura mínima: 28
Variação: 7

**9. Crie uma lista chamada `letras` com as letras da palavra "PYTHON" separadas. Depois, imprima a lista invertida.**

3. letras_invertida = letras[::-1]
Esse é um fatiamento (slice) de lista com [::-1], que significa:

: -> pega todos os elementos

-1 -> de trás pra frente (passo negativo)

lista[início:fim:passo]
letras = ['P', 'Y', 'T', 'H', 'O', 'N']

🧩 PARÂMETROS DO SLICE
1. início:
Índice onde o fatiamento começa (inclusive).

Se você não colocar, ele começa do início (0).

2. fim:
Índice onde o fatiamento termina (exclusive).

Se você não colocar, ele vai até o final.

3. passo:
De quantos em quantos elementos ele pula.

Pode ser positivo (ordem normal) ou negativo (ordem invertida).

🔢 Exemplos práticos:
✅ letras[1:4]
Pega do índice 1 até o 3:
['Y', 'T', 'H']


✅ letras[:3]
Do início até o índice 2:
['P', 'Y', 'T']

✅ letras[3:]
Do índice 3 até o final:
['H', 'O', 'N']


✅ letras[::-1]
Lista invertida (como já vimos):
['N', 'O', 'H', 'T', 'Y', 'P']

✅ letras[-3:]
Últimos 3 elementos:
['H', 'O', 'N']

✅ letras[:-2]
Do início até dois antes do final:
['P', 'Y', 'T', 'H']

In [36]:
letra_escolhida = "PYTHON"
letras = list(letra_escolhida)
letras_invertida = letras[::-1]
print("Lista invertida:", letras_invertida)

Lista invertida: ['N', 'O', 'H', 'T', 'Y', 'P']

REMACK 14/04/2025

In [53]:
letra_escolhida = "PYTHON"
letras = list(letra_escolhida)
letras_invertida = letras[::-1]
print("Lista invertida:", letras_invertida)

Lista invertida: ['N', 'O', 'H', 'T', 'Y', 'P']

**10. Peça ao usuário para digitar 5 números e armazene-os em uma lista chamada `entradas`. Depois, imprima a lista ordenada em ordem crescente.**

In [ ]:
from numpy import sort


valor_ditado = 0
mochila = []
for i in range(0,5):
   valor_ditado = input("Digite um valor") 
   mochila.append(valor_ditado)

print("------printa mochila")
 
for valor_mochila in mochila:
    print(valor_mochila)

------printa mochila
62
2
396
1
23